rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // This rule allows anyone to read and write to any collection
    // in your Firestore database. This is useful for development,
    // but it is not secure for production.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
